* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('https://source.unsplash.com/1920x1080/?nature,mountains');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 70%;
    height: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}

.left-section {
    flex: 1;
    background-color: #2e3d49;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.left-section h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.left-section img {
    width: 90%;
    height: 82%;
}


.right-section {
    flex: 1.5;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input:focus {
    border-color: #7e57c2;
    outline: none;
}

.form-group .checkbox {
    display: flex;
    align-items: center;
}

.form-group .checkbox input {
    width: auto;
    margin-right: 10px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #7e57c2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5e3ea0;
}

.additional-info {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.additional-info a {
    color: #7e57c2;
    text-decoration: none;
    font-weight: bold;
}

.additional-info a:hover {
    text-decoration: underline;
}

.terms {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    color: #888;
}

.terms a {
    color: #7e57c2;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}